# ==========================================
# AMBIENTE CONSIGLIATO: Python 3.11
# ==========================================

# conda create -n lama_env python=3.11
# conda activate lama_env

# Note: Install PyTorch (CUDA/CPU) separately before using this file
# Example:
# python -m pip install torch torchvision --index-url https://download.pytorch.org/whl/cu121
# python -m pip install -r requirements/requirements_lama.txt

colorama==0.4.6
filelock==3.25.2
fire==0.7.1
fsspec==2026.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
monai==1.5.2
mpmath==1.3.0
networkx==3.6.1

# NOTA: Numpy sotto la versione 2.0 per evitare problemi di incompatibilità con OpenCV e Simple-Lama.
numpy<2.0.0
opencv-python==4.9.0.80

packaging==24.2
pillow==12.1.1
setuptools==80.10.2
simple-lama-inpainting==0.1.0
sympy==1.14.0
termcolor==3.3.0
tqdm==4.67.3
typing_extensions==4.15.0
wheel==0.46.3


